<footer class="site-footer">
  <div class="wrap">
    <div class="footer-top">
      <img src="{{ site.baseurl }}/assets/img/logo-name.png" alt="Linda Marie Fischer" width="700" height="113">
      <ul class="footer-nav">
        <li><a href="{{ site.baseurl }}/music/arc-of-love">Music</a></li>
        <li><a href="{{ site.baseurl }}/story">Story</a></li>
        <li><a href="{{ site.baseurl }}/arc-of-love-lyrics">Lyrics</a></li>
        <li><a href="{{ site.baseurl }}/media">Media</a></li>
        <li><a href="{{ site.baseurl }}/merch">Merch</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
      {% include social.html %}
    </div>
    <div class="credits">
      <p>© 2018–2026 Linda Marie Fischer</p>
      <p>Portrait photography by Terri Brentnall Photography and Russell Castiglione<br>
      Travel photography by Phil and Linda Marie Fischer; Dune 45, Namib Desert, Namibia, image by Gabe Mulileni; image of Rocca Calascio, province of L'Aquila, Abruzzo region of central Italy by Gianluca Silvestri</p>
      <p>All rights reserved. Unauthorized duplication is prohibited. Lyrics and music used by permission only. <a href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>
