---
layout: default
title: Blog
heading: Blog
description: "News, reviews, and the stories behind the songs from Linda Marie Fischer."
permalink: /blog/
eyebrow: "News & Behind the Song"
banner: "/assets/img/banners/img-0503.jpg"
banner_pos: "50% 20%"
---
{% include banner.html %}

<section class="section section--content">
  <div class="wrap">
    <div class="post-grid">
      {% for post in site.posts %}
      <a class="post-tile" href="{{ site.baseurl }}{{ post.url }}">
        {% if post.image %}<span class="post-tile__img"><img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title | escape }}" loading="lazy"></span>{% endif %}
        <span class="post-tile__body">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
          <h2>{{ post.title }}</h2>
          <span class="post-tile__excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</span>
        </span>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
